---
- name: Install Java dependencies
  apt:
    name:
      - fontconfig
      - openjdk-21-jre
    state: present

- name: Install Docker Engine
  become: true
  block:
    - name: Install Docker dependencies
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - software-properties-common
        update_cache: yes
    - name: Create directory for apt keyrings
      file:
        path: /etc/apt/keyrings
        state: directory
        mode: "0755"
    - name: Download Docker's GPG key
      get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: "0644"
    - name: Add Docker repository to sources list
      apt_repository:
        # This uses the deb822 format style but via the standard apt_repository module
        repo: "deb [arch={{ ansible_architecture | replace('x86_64', 'amd64') }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        state: present
        filename: docker
        update_cache: yes
    - name: Install Docker
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present
      notify: Start Docker

- name: Ensure Docker is started and enabled
  service:
    name: docker
    state: started
    enabled: yes

- name: Add Trivy Repository and Install
  become: true
  block:
    - name: Add Docker's official Trivy key
      get_url:
        url: https://aquasecurity.github.io/trivy-repo/deb/public.key
        dest: /tmp/trivy.key
        mode: "0644"

    - name: Install Trivy GPG key
      shell: cat /tmp/trivy.key | gpg --dearmor -o /usr/share/keyrings/trivy.gpg
      args:
        creates: /usr/share/keyrings/trivy.gpg

    - name: Add Trivy repository to sources list
      apt_repository:
        repo: "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb generic main"
        state: present
        filename: trivy
    - name: Install Trivy
      apt:
        name:
          - trivy
        update_cache: yes

- name: Install GitHub CLI
  become: true
  block:
    - name: Download GitHub CLI GPG key
      get_url:
        url: https://cli.github.com/packages/githubcli-archive-keyring.gpg
        dest: /usr/share/keyrings/githubcli-archive-keyring.gpg
        mode: "0644"

    - name: Add GitHub CLI repository
      apt_repository:
        repo: "deb [arch={{ ansible_architecture | replace('x86_64', 'amd64') }} signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main"
        state: present
        filename: github-cli
        update_cache: yes

    - name: Install GitHub CLI
      apt:
        name:
          - gh
        state: present

- name: Install GitLab CLI
  become: true
  block:
    - name: Check if WakeMeOps repo exists
      stat:
        path: /etc/apt/sources.list.d/wakemeops.list
      register: wakemeops_repo

    - name: Add WakeMeOps repository
      shell: curl -sSL "https://raw.githubusercontent.com/upciti/wakemeops/main/assets/install_repository" | sudo bash
      when: not wakemeops_repo.stat.exists

    - name: Install GitLab CLI
      apt:
        name:
          - glab
        state: present
        update_cache: yes

- name: Create Jenkins system user
  block:
    - name: Create group
      group:
        name: jenkins
        system: yes
        state: present
    - name: Create user
      user:
        name: jenkins
        system: yes
        group: jenkins
        groups: docker
        create_home: yes
        home: /home/jenkins
        shell: /bin/bash
        state: present
    - name: Create Jenkins tmp
      file:
        path: /home/jenkins/tmp
        state: directory
        owner: jenkins
        group: jenkins
        mode: "0755"

- name: Create Trivy cache directory
  become: true
  file:
    path: /var/trivy-cache
    state: directory
    owner: jenkins
    group: jenkins
    mode: "0755"

- name: Add Jenkins controller to /etc/hosts
  lineinfile:
    path: /etc/hosts
    line: "{{ jenkins_controller_internal_address }} {{ jenkins_controller_fqdn }}"
    state: present

- name: Add SonarQube to /etc/hosts
  lineinfile:
    path: /etc/hosts
    line: "{{ sonarqube_internal_address }} {{ sonarqube_fqdn }}"
    state: present

- name: Link Agent to controller
  block:
    - name: Download Jenkins agent JAR
      get_url:
        url: "https://{{ jenkins_controller_fqdn }}/jnlpJars/agent.jar"
        dest: /home/jenkins/agent.jar
        owner: jenkins
        group: jenkins
        mode: "0644"

    - name: Create Jenkins Agent systemd service
      become: true
      template:
        src: agent.service.j2
        dest: /etc/systemd/system/jenkins-agent.service
        mode: "0644"
      notify:
        - Reload systemd
        - Restart Jenkins Agent

    - name: Ensure Jenkins Agent is started and enabled
      become: true
      systemd:
        name: jenkins-agent
        state: started
        enabled: yes
        daemon_reload: yes
